<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Carnet d'adresses</title>
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('bundles/PCarnet/css/screen.css')}}" type="text/css" media="screen" title="default" />
<link rel="stylesheet" href="{{asset('bundles/PCarnet/css/datePicker.css')}}" type="text/css" />
{% endblock %}

{% block javascripts %}
<script  src="{{asset('bundles/PCarnet/js/jquery/jquery-1.4.1.min.js')}}" type="text/javascript"></script>
<!--  checkbox styling script -->
<script src="{{asset('bundles/PCarnet/js/jquery/ui.core.js')}}" type="text/javascript"></script>
<script src="{{asset('bundles/PCarnet/js/jquery/ui.checkbox.js')}}" type="text/javascript"></script>
<script src="{{asset('bundles/PCarnet/js/jquery/jquery.bind.js')}}" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
	$('input').checkBox();
	$('#toggle-all').click(function(){
 	$('#toggle-all').toggleClass('toggle-checked');
	$('#mainform input[type=checkbox]').checkBox('toggle');
	return false;
	});
});
</script>  
<![if !IE 7]>
<!--  styled select box script version 1 -->
<script src="{{asset('bundles/PCarnet/js/jquery/jquery.selectbox-0.5.js')}}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('.styledselect').selectbox({ inputClass: "selectbox_styled" });
});
</script>
<![endif]>
<!--  styled select box script version 2 --> 
<script src="{{asset('bundles/PCarnet/js/jquery/jquery.selectbox-0.5_style_2.js')}}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('.styledselect_form_1').selectbox({ inputClass: "styledselect_form_1" });
	$('.styledselect_form_2').selectbox({ inputClass: "styledselect_form_2" });
});
</script>

<!--  styled select box script version 3 --> 
<script src="{{asset('bundles/PCarnet/js/jquery/jquery.selectbox-0.5_style_2.js')}}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('.styledselect_pages').selectbox({ inputClass: "styledselect_pages" });
});
</script>

<!--  styled file upload script --> 
<script src="{{asset('bundles/PCarnet/js/jquery/jquery.filestyle.js')}}" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
$(function() {
	$("input.file_1").filestyle({ 
	image: "images/forms/upload_file.gif",
	imageheight : 29,
	imagewidth : 78,
	width : 300
	});
});
</script>
<!-- Custom jquery scripts -->
<script src="{{asset('bundles/PCarnet/js/jquery/custom_jquery.js')}}" type="text/javascript"></script>
 
<!-- Tooltips -->
<script src="{{asset('bundles/PCarnet/js/jquery/jquery.tooltip.js')}}" type="text/javascript"></script>
<script src="{{asset('bundles/PCarnet/js/jquery/jquery.dimensions.js')}}" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
	$('a.info-tooltip ').tooltip({
		track: true,
		delay: 0,
		fixPNG: true, 
		showURL: false,
		showBody: " - ",
		top: -35,
		left: 5
	});
});
</script> 
<script src="{{asset('bundles/PCarnet/js/jquery/date.js')}}" type="text/javascript"></script>
<script src="{{asset('bundles/PCarnet/js/jquery/jquery.datePicker.js')}}" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
        $(function()
{

// initialise the "Select date" link
$('#date-pick')
	.datePicker(
		// associate the link with a date picker
		{
			createButton:false,
			startDate:'01/01/2005',
			endDate:'31/12/2020'
		}
	).bind(
		// when the link is clicked display the date picker
		'click',
		function()
		{
			updateSelects($(this).dpGetSelected()[0]);
			$(this).dpDisplay();
			return false;
		}
	).bind(
		// when a date is selected update the SELECTs
		'dateSelected',
		function(e, selectedDate, $td, state)
		{
			updateSelects(selectedDate);
		}
	).bind(
		'dpClosed',
		function(e, selected)
		{
			updateSelects(selected[0]);
		}
	);
	
var updateSelects = function (selectedDate)
{
	var selectedDate = new Date(selectedDate);
	$('#d option[value=' + selectedDate.getDate() + ']').attr('selected', 'selected');
	$('#m option[value=' + (selectedDate.getMonth()+1) + ']').attr('selected', 'selected');
	$('#y option[value=' + (selectedDate.getFullYear()) + ']').attr('selected', 'selected');
}
// listen for when the selects are changed and update the picker
$('#d, #m, #y')
	.bind(
		'change',
		function()
		{
			var d = new Date(
						$('#y').val(),
						$('#m').val()-1,
						$('#d').val()
					);
			$('#date-pick').dpSetSelected(d.asString());
		}
	);

// default the position of the selects to today
var today = new Date();
updateSelects(today.getTime());

// and update the datePicker to reflect it...
$('#d').trigger('change');
});
</script>
<!-- MUST BE THE LAST SCRIPT IN <HEAD></HEAD></HEAD> png fix -->
<script src="{{asset('bundles/PCarnet/js/jquery/jquery.pngFix.pack.js')}}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
$(document).pngFix( );
});
</script>
{% endblock%}
</head>

<body>

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<div class="nav-outer-repeat"> 
<!--  start nav-outer -->
	<div class="nav-outer">

		<!-- start deconnexion et profile -->
		<div id="nav-right">
			<div class="nav-divider">&nbsp;</div>
			<a href="{{ path('fos_user_security_logout') }}" id="logout"><img src="{{asset('bundles/PCarnet/images/shared/nav/nav_logout.gif')}}" width="64" height="14" alt="" /></a>
			<div class="clear">&nbsp;</div>
		</div>
		<!-- end deconnexion et profile -->
		<!--  start menu utilisateur -->
		<div class="nav">
			<div class="table">
				<ul class="select">
					<li>
						<a href="{{ path('p_carnet_homepage') }}"><b>Mes contacts</b><!--[if IE 7]><!--></a><!--<![endif]-->
					</li>
				</ul>
				<div class="nav-divider">&nbsp;</div>
				<ul class="current">
					<li>
						<a href="{{ path('p_carnet_ajouterContactes') }}"><b>Ajouter contacts</b><!--[if IE 7]><!--></a><!--<![endif]-->
					</li>
				</ul>
				<div class="nav-divider">&nbsp;</div>
				<ul class="select">
					<li>
						<a href="{{ path('fos_user_profile_edit') }}"><b>profile</b><!--[if IE 7]><!--></a><!--<![endif]-->
					</li>
				</ul>
				<div class="nav-divider">&nbsp;</div>
				<ul class="select">
					<li>
						<a href="{{ path('fos_user_change_password') }}"><b>mot de passe</b><!--[if IE 7]><!--></a><!--<![endif]-->
					</li>
				</ul>		
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<!--  end menu utilisateur -->
	</div>
<div class="clear"></div>
<!--  start nav-outer -->
</div>
{% else %}
<div class="nav-outer-repeat"> 
<!--  start nav-outer -->
	<div class="nav-outer"> 
		<!--  start menu utilisateur -->
		<div class="nav">
			<div class="table">
				<ul class="select">
					<li>
						<a href="{{ path('fos_user_security_login') }}"><b>connexion</b><!--[if IE 7]><!--></a><!--<![endif]-->
					</li>
				</ul>
				<div class="nav-divider">&nbsp;</div>
				<ul class="current">
					<li>
						<a href="{{ path('fos_user_registration_register') }}"><b>inscription</b><!--[if IE 7]><!--></a><!--<![endif]-->
					</li>
				</ul>	
				<div class="nav-divider">&nbsp;</div>		
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<!--  end menu utilisateur -->
	</div>
<div class="clear"></div>
<!--  start nav-outer -->
</div>
{% endif %}


<div class="clear"></div>
 
<!-- contenu generale -->
<div id="content-outer">
<!-- start content -->
				<div id="content">


					<div id="page-heading">
						<h1>{% block titre %}Carnet d'adresses {% endblock %}</h1>
					</div>


					<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
					
						<tr>
							<th rowspan="3" class="sized"><img src="{{asset('bundles/PCarnet/images/shared/side_shadowleft.jpg')}}" width="20" height="300" alt="" /></th>
							<th class="topleft"></th>
							<td id="tbl-border-top">&nbsp;</td>
							<th class="topright"></th>
							<th rowspan="3" class="sized"><img src="{{asset('bundles/PCarnet/images/shared/side_shadowright.jpg')}}" width="20" height="300" alt="" /></th>
						</tr>

						<tr>
							<td id="tbl-border-left"></td>
							<td>
								<!--  start content-table-inner -->
								<div id="content-table-inner">
									<table border="0" width="100%" cellpadding="0" cellspacing="0">
										<!-- <tr valign="top"> > <!-- ajouter au cas ou tu veux remplire le body de la page -->
										  {% block fos_user_content %}
                                          {% endblock fos_user_content %}
										<!-- separateur style (ne lefface pas ) -->
										  {% block body %}
										  {% endblock body %}
										<tr>
											<td><img src="{{asset('bundles/PCarnet/images/shared/blank.gif')}}" width="695" height="1" alt="blank" /></td>
											<td></td>
										</tr>
									</table>
								</div>
							<!--  end content-table-inner  -->
							</td>
							<td id="tbl-border-right"></td>
						</tr>
						
						<tr>
							<th class="sized bottomleft"></th>
							<td id="tbl-border-bottom">&nbsp;</td>
							<th class="sized bottomright"></th>
						</tr>
					</table>
				</div>
<!--  end content -->
</div>
<!--  end contenu generale -->
 
<!-- footer -->         
<div id="footer">
	<div id="footer-left">
	Anas laghouaouta &copy; Copyright. <a href="https://github.com/A-nas">github</a>. All rights reserved.
	</div>
</div>
<!--  end footer -->
</body>
</html>